.carousel-indicators {
    bottom: -60px;
}

.upcoming-text{
    color: #1C102D;
    font-weight: bold;
}

.card{
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
     .card-body{
         color: #1C102D;
     }
}

.card-container{
    background-color: #F4F3F5;
    
}